{{- /* Checks if running interactively, which is not the case for GitHub Codespaces, Gitpod, etc */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $work := false -}}

{{- /* Initializes the name variable */ -}}
{{- $name := "Matt Campbell" -}}

{{- /* figure out the email */ -}}
{{- $email := "matt@soupmatt.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}
{{- if contains "joinhandshake.com" $email -}}
{{-   $work = true -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  work: {{ $work }}
