{{- /* Checks if running interactively, which is not the case for GitHub Codespaces and spin */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $spin := false -}}
{{- if env "SPIN" -}}
{{-   $spin = true -}}
{{- end -}}
{{- $work := false -}}

{{- /* Initializes the name variable */ -}}
{{- $name := "Matt Campbell" -}}

{{- /* figure out the email */ -}}
{{- $email := "matt@soupmatt.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $spin -}}
{{-   $email = "matt.campbell@shopify.com" -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}
{{- if contains "shopify.com" $email -}}
{{-   $work = true -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  spin: {{ $spin }}
  work: {{ $work }}
