[core]
  excludesfile = ~/.gitignore
  editor = vim
[branch]
  autosetuprebase = always
[fetch]
  prune = true
[commit]
  template = ~/.git_commit_message_template
[github]
  user = soupmatt
[rebase]
  autosquash = true
  autoStash = true

{{ if not .spin -}}
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = {{ .name }}
  email = {{ .email }}
[include]
  path = /Users/matt.campbell/.config/dev/gitconfig
{{- end }}