if [[ -a ~/.zshrc.provided ]]; then
  source ~/.zshrc.provided
fi

# Path to your oh-my-zsh configuration.
ZSH=$HOME/.oh-my-zsh
ZSH_CUSTOM=$HOME/.oh-my-zsh-custom

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="soupmatt"

# Set to this to use case-sensitive completion
# CASE_SENSITIVE="true"

# Comment this out to disable weekly auto-update checks
DISABLE_AUTO_UPDATE="true"

# Uncomment following line if you want to disable colors in ls
# DISABLE_LS_COLORS="true"

# Uncomment following line if you want to disable autosetting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment following line if you want red dots to be displayed while waiting for completion
COMPLETION_WAITING_DOTS="true"

# include iterm2 shell integration
zstyle :omz:plugins:iterm2 shell-integration yes

# keychain configuration
zstyle :omz:plugins:keychain agents ssh

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(brew 1password golang copyfile copypath gh terraform rbenv gem redis-cli rake rake-fast git-escape-magic soupmatt vscode vi-mode iterm2 keychain)

source "$ZSH"/oh-my-zsh.sh

# if [[ -f /usr/local/opt/asdf/asdf.sh ]]; then
#   . /usr/local/opt/asdf/asdf.sh
# fi

if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
  autoload -Uz compinit
  compinit
fi

if type chezmoi &>/dev/null; then
  if ! type _chezmoi &>/dev/null; then
    eval "$(chezmoi completion zsh)"; compdef _chezmoi chezmoi
  fi
fi

# if [[ -a "${HOME}/.1password/agent.sock" ]]; then
#   export SSH_AUTH_SOCK="${HOME}/.1password/agent.sock"
# fi

# Options

# Enable extended globbing
setopt extendedglob

# Allow [ or ] whereever you want
unsetopt nomatch

export VISUAL=vim
export EDITOR=$VISUAL

{{ if .work }}
# make it so that gcloud sdk can load numpy
export CLOUDSDK_PYTHON_SITEPACKAGES=1

# force seira to use teleport
export SEIRA_TELEPORT_ENABLED=true
{{ end }}
