[core]
  excludesfile = ~/.gitignore
  editor = vim
[branch]
  autosetuprebase = always
[fetch]
  prune = true
[github]
  user = soupmatt
[rebase]
  autosquash = true
  autoStash = true
  updateRefs = true
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
  default = upstream

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = {{ .name }}
  email = {{ .email }}
[pull]
  rebase = true
