{{ if and .work (eq .chezmoi.os "linux") -}}
#!/bin/sh

cd handshake

#git checkout main
git pull
bundle install
yarn install

# set session name
SESSION="RDE"
SESSIONEXISTS=$(tmux list-sessions | grep $SESSION)

# only create tmux session if it doesn't already exist
if [ "$SESSIONEXISTS" = "" ]
then
    # start new session
    tmux new-session -d -s $SESSION

    # database
    tmux send-keys 'bin/comp db up' C-m
    sleep 5s
    tmux split-window -f

    # clock
    tmux send-keys 'foreman start -m clock=1' C-m
    tmux split-window -h

    # elasticsearch
    tmux send-keys 'foreman start -f Procfile.all_indexing' C-m
    tmux split-window -f

    # sidekiq
    tmux send-keys 'foreman start -m sidekiq_all_queues=1' C-m
    tmux split-window -h

    # web
    tmux send-keys 'foreman start -m web=1' C-m
    sleep 2s
    tmux split-window -f

    # webpack
    tmux send-keys 'foreman start -m webpack=1' C-m

    # nicer layout
    tmux select-layout tiled
fi

# attach session
tmux attach-session -t $SESSION:1
{{ end }}
