cs() { cd ~/src/github.com/Shopify/$1; }
_cs() { _files -W ~/src/github.com/Shopify -/;  }
compdef _cv cv

cg() { cd ~/src/github.com/$1; }
_cg() { _files -W ~/src/github.com -/;  }
compdef _co co

{{ if (eq .chezmoi.os "darwin") -}}
alias ghub="kill \$(ps aux | grep lghub | grep -v grep | awk '{print \$2}'); sleep 4; open /Applications/lghub.app/Contents/MacOS/lghub_agent.app; open /Applications/lghub.app/Contents/MacOS/lghub_updater.app; open /Applications/lghub.app; "
{{ end -}}
