"*":
  "atom-beautify":
    general:
      _analyticsUserId: "33984abe-1d12-4380-9aa8-0e1481aef46c"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    similarSuggestionRemoval: "textOrSnippet"
  core:
    disabledPackages: [
      "autocomplete-elixir"
      "language-elixir"
      "symbols-view"
      "autocomplete-snippets"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "0c26c250-2cb5-4f01-b2dc-143c5cc1b02c"
  "linter-rubocop":
    command: "/Users/matt.campbell/bin/ruby_linter"
  "linter-terraform-syntax":
    newVersion: true
  "linter-ui-default":
    panelHeight: 300
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".nginx.source":
  editor:
    tabLength: 4
